/* My custom styles */
pre,
pre code {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
pre {
    display: flex;
    flex-direction: column;
    counter-reset: line;
    white-space: pre;
}
pre code {
    counter-increment: line;
    line-height: 24px;
    font-family: monospace;
}
pre code:before {
    content: counter(line);
    display: inline-block;
    width: 20px;
    padding-right: 8px;
    margin-right: 8px;
    color: #bfc8ce;
    font-size: 14px;
    text-align: right;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav {
    position: fixed;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.nav__item {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badges {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 6px;
    font-size: 10px;
    font-family: monospace;
    padding: 6px;
}
.badges__tag {
    padding: 2px 8px;
    border-radius: 2px;
}
.badges__tag--version {
    color: rgb(38, 165, 38);
    background: rgba(38, 165, 38, 0.1);
}
